<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ecell</title>
    <link rel="stylesheet" href="../../dep/pacejs/pace.css">
    <link rel="stylesheet" href="../../dep/lobibox/css/lobibox.css">
    <link rel="stylesheet" href="../../public/css/public.css">
    <link rel="stylesheet" href="../../css/player-detail.css">

</head>
<body>
    <div id="page">
        <div class="page-content">
            <div class="text-center">
                <span class="back-home"><a href="../../index.html">返回首页</a></span>
            </div>
            <div class="player-content clearfix">
                <div id="profile_player1" class="left-player pull-left">
                    <div class="text-center player-name">
                        <span id="profile_player1_nick">--</span>
                    </div>
                    <div class="select-player">
                        <div class="text-center current-player" data-toggle="down">
                            <span  data-toggle="down">选手库/ PLAYERS</span>
                            <img src="../../img/select-down.png" alt="" data-toggle="down">
                        </div>
                        <div class="select-player-list" data-toggle="down">
                            <div data-toggle="down">
                                <input type="text" placeholder="搜索选手" data-toggle="down" class="search_input1">
                            </div>
                            <ul id="profile_select_player1" data-id="1">
                                <li class="profileSelectPlayerItem" data-id="0"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="flex-row-nc player-img-center">
                        <div class="player-img main-bg flex-row-c">
                            <img id="profile_player1_avatar" src="../../img/public/who.jpg" alt="">
                        </div>
                        <div class="flex-column player-info-img main-bg">
                            <div class="team-logo flex-row-c">
                                <img id="profile_player1_race" src="../../img/public/player_race_empty.png" alt="">
                            </div>
                            <div class="flag">
                                <img id="profile_player1_country" src="../../img/public/player_country_empty.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="info-items">
                        <div class="info-item main-bg flex-row-nc">
                            <div class="left">
                                <span class="key">姓名</span>
                                <span class="value" id="profile_player1_name">--</span>
                            </div>
                            <div class="right">
                                <span class="key">种族</span>
                                <span class="value" id="profile_player1_race_text">--</span>
                            </div>
                        </div>
                        <div class="info-item main-bg flex-row-nc">
                            <div class="left">
                                <span class="key">年龄</span>
                                <span class="value" id="profile_player1_age">--</span>
                            </div>
                            <div class="right">
                                <span class="key">战队</span>
                                <span class="value" id="profile_player1_team">--</span>
                            </div>
                        </div>
                        <div class="info-item main-bg player-pk-info">
                            <div class="left">
                                <span class="key" id="profile_player1_winning">胜率 --</span>
                                <span class="value" id="profile_player1_winning_vt">VT --</span>
                            </div>
                            <div class="right">
                                <span class="key" id="profile_player1_winning_vp">VP --</span>
                                <span class="value" id="profile_player1_winning_vz">VZ --</span>
                            </div>
                        </div>
                        <div class="info-item main-bg flex-row-nc">
                            <div class="left">
                                <span class="key">APM</span>
                                <span class="value" id="profile_player1_apm">--</span>
                            </div>
                        </div>
                        <div class="info-item main-bg flex-row-nc">
                            <div class="left">
                                <span class="key">平均用时</span>
                                <span class="value" id="profile_player1_duration">--</span>
                            </div>
                            <div class="right">
                                <span class="key">平均资源/分钟</span>
                                <span class="value" id="profile_player1_resource">--</span>
                            </div>
                        </div>
                        <div class="info-item main-bg flex-row-nc">
                            <div class="left">
                                <span class="key">季后赛净胜</span>
                                <span class="value" id="profile_player1_difference">--</span>
                            </div>
                        </div>
                        <div class="info-item main-bg flex-column">
                            <div class="title">LAST 10 GAMES</div>
                            <div class="game-list">
                                <ul>
                                    <li class="one-title" id="profile_player1_last_1">
                                    </li>
                                    <li class="one-title" id="profile_player1_last_2">
                                    </li>
                                    <li class="one-title" id="profile_player1_last_3">
                                    </li>
                                    <li class="one-title" id="profile_player1_last_4">
                                    </li>
                                    <li class="one-title" id="profile_player1_last_5">
                                    </li>
                                    <li class="one-title" id="profile_player1_last_6">
                                    </li>
                                    <li class="one-title" id="profile_player1_last_7">
                                    </li>
                                    <li class="one-title" id="profile_player1_last_8">
                                    </li>
                                    <li class="one-title" id="profile_player1_last_9">
                                    </li>
                                    <li class="one-title" id="profile_player1_last_10">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pull-left flex-column-c vs" style="">

                </div>
                <div id="profile_player2" class="right-player pull-left">
                    <div class="text-center player-name">
                        <span id="profile_player2_nick">--</span>
                    </div>
                    <div class="select-player">
                        <div class="text-center current-player" data-toggle="down">
                            <span data-toggle="down">选手库/ PLAYERS</span>
                            <img src="../../img/select-down.png" alt="" data-toggle="down">
                        </div>
                        <div class="select-player-list" data-toggle="down">
                            <div data-toggle="down">
                                <input type="text" placeholder="搜索选手" data-toggle="down" class="search_input2">
                            </div>
                            <ul id="profile_select_player2" data-id="2">
                                <li class="profileSelectPlayerItem" data-id="0"></li>
                            </ul>
                        </div>

                    </div>
                    <div class="flex-row-nc player-img-center">
                        <div class="player-img main-bg flex-row-c">
                            <img id="profile_player2_avatar" src="../../img/public/who.jpg" alt="">
                        </div>
                        <div class="flex-column player-info-img main-bg">
                            <div class="team-logo flex-row-c">
								<img id="profile_player2_race" src="../../img/public/player_race_empty.png" alt="">
						    </div>
						    <div class="flag">
								<img id="profile_player2_country" src="../../img/public/player_country_empty.png" alt="">
						    </div>
                        </div>
                    </div>
                    <div class="info-items">
                        <div class="info-item main-bg flex-row-nc">
                            <div class="left">
                                <span class="key">姓名</span>
                                <span class="value" id="profile_player2_name">--</span>
                            </div>
                            <div class="right">
                                <span class="key">种族</span>
                                <span class="value" id="profile_player2_race_text">--</span>
                            </div>
                        </div>
                        <div class="info-item main-bg flex-row-nc">
                            <div class="left">
                                <span class="key">年龄</span>
                                <span class="value" id="profile_player2_age">--</span>
                            </div>
                            <div class="right">
                                <span class="key">战队</span>
                                <span class="value" id="profile_player2_team">--</span>
                            </div>
                        </div>
                        <div class="info-item main-bg player-pk-info">
                            <div class="left">
                                <span class="key" id="profile_player2_winning">胜率 --</span>
                                <span class="value" id="profile_player2_winning_vt">VT --</span>
                            </div>
                            <div class="right">
                                <span class="key" id="profile_player2_winning_vp">VP --</span>
                                <span class="value" id="profile_player2_winning_vz">VZ --</span>
                            </div>
                        </div>
                        <div class="info-item main-bg flex-row-nc">
                            <div class="left">
                                <span class="key">APM</span>
                                <span class="value" id="profile_player2_apm">--</span>
                            </div>
                        </div>
                        <div class="info-item main-bg flex-row-nc">
                            <div class="left">
                                <span class="key">平均用时</span>
                                <span class="value" id="profile_player2_duration">--</span>
                            </div>
                            <div class="right">
                                <span class="key">平均资源/分钟</span>
                                <span class="value" id="profile_player2_resource">--</span>
                            </div>
                        </div>
                        <div class="info-item main-bg flex-row-nc">
                            <div class="left">
                                <span class="key">季后赛净胜</span>
                                <span class="value" id="profile_player2_difference">--</span>
                            </div>
                        </div>
                        <div class="info-item main-bg flex-column">
                            <div class="title">LAST 10 GAMES</div>
                            <div class="game-list">
                                <ul>
                                	<li class="one-title" id="profile_player2_last_1">
                                    </li>
                                    <li class="one-title" id="profile_player2_last_2">
                                    </li>
                                    <li class="one-title" id="profile_player2_last_3">
                                    </li>
                                    <li class="one-title" id="profile_player2_last_4">
                                    </li>
                                    <li class="one-title" id="profile_player2_last_5">
                                    </li>
                                    <li class="one-title" id="profile_player2_last_6">
                                    </li>
                                    <li class="one-title" id="profile_player2_last_7">
                                    </li>
                                    <li class="one-title" id="profile_player2_last_8">
                                    </li>
                                    <li class="one-title" id="profile_player2_last_9">
                                    </li>
                                    <li class="one-title" id="profile_player2_last_10">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<div id="mask_modal"></div>
    <script src="../../dep/jquery/jquery-3.4.1.min.js"></script>
    <script src="../../dep/pacejs/pace.js"></script>
    <script src="../../dep/lobibox/js/notifications.js"></script>
    <script src="../../public/js/public.js"></script>
    <script src="../../js/player-details.js"></script>
</body>
</html>
