<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ecell</title>
    <link rel="stylesheet" href="../../dep/calendar/calendar.css">
    <link rel="stylesheet" href="../../dep/pacejs/pace.css">
	<link rel="stylesheet" href="../../dep/lobibox/css/lobibox.css">
    <link rel="stylesheet" href="../../public/css/public.css">
    <link rel="stylesheet" href="../../css/season.css">
</head>
<body>
<div id="page">
    <div id="header">
        <div class="season-title">
            <div id="seasonMatchDay" class="date">比赛日期</div>
            <div id="seasonMatchTitle" class="title">对战场次</div>
            <div id="seasonMatchPlayers" class="players">选手信息</div>            
        </div>
    </div>
    <div id="content">
    	<div class="hide">
	        <div id="demo">
	            <div class="calender-content hide">
	                <div id="ca"></div>
	            </div>
	            <input type="text" id="dt" value="2020-6-29" readonly>
	            <img src="../../img/select-down.png" alt="" class="down">
	            <div id="dd"></div>
	        </div>
	        <div class="select-date">
	
	        </div>
        </div>
        <div class="details clearfix">
            <div class="left pull-left items">
                <div id="seasonSet1" class="item hide">
                    <div class="flex-row-sb">
                        <span class="title"></span>
                        <span class="view-detail"><a id="seasonSet1_detail" href="javascript:;">详情</a></span>
                    </div>
                    <div class="flex-row-nc">
                        <div class="flex-row-nc">
                            <div class="team-logo flex-row-c">
                                <img id="seasonSet1_p1_race" class="" src="../../img/public/player_race_empty.png" alt="">
                                <img id="seasonSet1_p1_race_bg" class="" src="../../img/defeat.png" alt="">
                            </div>
                            <div class="flex-column">
                                <div id="seasonSet1_p1_nick"></div>
                                <div class="country-flag">
                                    <img id="seasonSet1_p1_country" src="../../img/public/player_country_empty.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="flex-row-c vs">vs</div>
                        <div class="flex-row-nc">
                            <div class="team-logo flex-row-c">
                                <img id="seasonSet1_p2_race" class="" src="../../img/public/player_race_empty.png" alt="">
                                <img id="seasonSet1_p2_race_bg" class="" src="../../img/defeat.png" alt="">
                            </div>
                            <div class="flex-column">
                                <div id="seasonSet1_p2_nick"></div>
                                <div class="country-flag">
                                    <img id="seasonSet1_p2_country" src="../../img/public/player_country_empty.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="seasonSet2" class="item hide">
                    <div class="flex-row-sb">
                        <span class="title"></span>
                        <span class="view-detail"><a id="seasonSet2_detail" href="javascript:;">详情</a></span>
                    </div>
                    <div class="flex-row-nc">
                        <div class="flex-row-nc">
                            <div class="team-logo flex-row-c">
                                <img id="seasonSet2_p1_race" class="" src="../../img/public/player_race_empty.png" alt="">
                                <img id="seasonSet2_p1_race_bg" class="" src="../../img/defeat.png" alt="">
                            </div>
                            <div class="flex-column">
                                <div id="seasonSet2_p1_nick"></div>
                                <div class="country-flag">
                                    <img id="seasonSet2_p1_country" src="../../img/public/player_country_empty.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="flex-row-c vs">vs</div>
                        <div class="flex-row-nc">
                            <div class="team-logo flex-row-c">
                                <img id="seasonSet2_p2_race" class="" src="../../img/public/player_race_empty.png" alt="">
                                <img id="seasonSet2_p2_race_bg" class="" src="../../img/defeat.png" alt="">
                            </div>
                            <div class="flex-column">
                                <div id="seasonSet2_p2_nick"></div>
                                <div class="country-flag">
                                    <img id="seasonSet2_p2_country" src="../../img/public/player_country_empty.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div id="seasonSet3" class="item hide">
                    <div class="flex-row-sb">
                        <span class="title"></span>
                        <span class="view-detail"><a id="seasonSet3_detail" href="javascript:;">详情</a></span>
                    </div>
                    <div class="flex-row-nc">
                        <div class="flex-row-nc">
                            <div class="team-logo flex-row-c">
                                <img id="seasonSet3_p1_race" class="" src="../../img/public/player_race_empty.png" alt="">
                                <img id="seasonSet3_p1_race_bg" class="" src="../../img/defeat.png" alt="">
                            </div>
                            <div class="flex-column">
                                <div id="seasonSet3_p1_nick"></div>
                                <div class="country-flag">
                                    <img id="seasonSet3_p1_country" src="../../img/public/player_country_empty.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="flex-row-c vs">vs</div>
                        <div class="flex-row-nc">
                            <div class="team-logo flex-row-c">
                                <img id="seasonSet3_p2_race" class="" src="../../img/public/player_race_empty.png" alt="">
                                <img id="seasonSet3_p2_race_bg" class="" src="../../img/defeat.png" alt="">
                            </div>
                            <div class="flex-column">
                                <div id="seasonSet3_p2_nick"></div>
                                <div class="country-flag">
                                    <img id="seasonSet3_p2_country" src="../../img/public/player_country_empty.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="seasonSet4" class="item hide">
                    <div class="flex-row-sb">
                        <span class="title"></span>
                        <span class="view-detail"><a id="seasonSet4_detail" href="javascript:;">详情</a></span>
                    </div>
                    <div class="flex-row-nc">
                        <div class="flex-row-nc">
                            <div class="team-logo flex-row-c">
                                <img id="seasonSet4_p1_race" class="" src="../../img/public/player_race_empty.png" alt="">
                                <img id="seasonSet4_p1_race_bg" class="" src="../../img/defeat.png" alt="">
                            </div>
                            <div class="flex-column">
                                <div id="seasonSet4_p1_nick"></div>
                                <div class="country-flag">
                                    <img id="seasonSet4_p1_country" src="../../img/public/player_country_empty.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="flex-row-c vs">vs</div>
                        <div class="flex-row-nc">
                            <div class="team-logo flex-row-c">
                                <img id="seasonSet4_p2_race" class="" src="../../img/public/player_race_empty.png" alt="">
                                <img id="seasonSet4_p2_race_bg" class="" src="../../img/defeat.png" alt="">
                            </div>
                            <div class="flex-column">
                                <div id="seasonSet4_p2_nick"></div>
                                <div class="country-flag">
                                    <img id="seasonSet4_p2_country" src="../../img/public/player_country_empty.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div id="seasonSet5" class="item hide">
                    <div class="flex-row-sb">
                        <span class="title"></span>
                        <span class="view-detail"><a id="seasonSet5_detail" href="javascript:;">详情</a></span>
                    </div>
                    <div class="flex-row-nc">
                        <div class="flex-row-nc">
                            <div class="team-logo flex-row-c">
                                <img id="seasonSet5_p1_race" class="" src="../../img/public/player_race_empty.png" alt="">
                                <img id="seasonSet5_p1_race_bg" class="" src="../../img/defeat.png" alt="">
                            </div>
                            <div class="flex-column">
                                <div id="seasonSet5_p1_nick"></div>
                                <div class="country-flag">
                                    <img id="seasonSet5_p1_country" src="../../img/public/player_country_empty.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="flex-row-c vs">vs</div>
                        <div class="flex-row-nc">
                            <div class="team-logo flex-row-c">
                                <img id="seasonSet5_p2_race" class="" src="../../img/public/player_race_empty.png" alt="">
                                <img id="seasonSet5_p2_race_bg" class="" src="../../img/defeat.png" alt="">
                            </div>
                            <div class="flex-column">
                                <div id="seasonSet5_p2_nick"></div>
                                <div class="country-flag">
                                    <img id="seasonSet5_p2_country" src="../../img/public/player_country_empty.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="item hide">
                    <div class="flex-row-sb">
                        <span class="title">季后赛16进8-A组第一轮</span>
                        <span class="view-detail"><a href="javascript:;">详情</a></span>
                    </div>
                    <div class="flex-row-nc">
                        <div class="flex-row-nc">
                            <div class="team-logo flex-row-c">
                                <img class="win" src="../../img/player_race_p.png" alt="">
                                <img class="win-bg" src="../../img/win.png" alt="">
                            </div>
                            <div class="flex-column">
                                <div><a href="../player-details/index.html">Fengzi</a></div>
                                <div class="country-flag">
                                    <img src="../../img/flag.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="flex-row-c vs">vs</div>
                        <div class="flex-row-nc">
                            <div class="team-logo flex-row-c">
                                <img class="lose" src="../../img/player_race_p.png" alt="">
                                <img class="lose-bg" src="../../img/defeat.png" alt="">
                            </div>
                            <div class="flex-column">
                                <div><a href="../player-details/index.html">Fengzi</a></div>
                                <div class="country-flag">
                                    <img src="../../img/flag.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="right pull-left">
                <div style="position: relative">
                    <span class="triangle"></span>
                    <table class="pk-list">
                        <thead>
                            <tr>
                                <th>场次</th>
                                <th>地图</th>
                                <th>水晶</th>
                                <th>气矿</th>
                                <th>APM</th>
                                <th>时长</th>
                                <th>胜负</th>
                            </tr>
                        </thead>
                        <tbody>
                        	<tr id="seasonSetGame0_1" class="hide">
                                <td id="seasonSetGame0_name" rowspan="2" class="rowspan"></td>
                                <td id="seasonSetGame0_map" rowspan="2" class="rowspan"></td>
                                <td id="seasonSetGame0_p1_crystle"></td>
                                <td id="seasonSetGame0_p1_oil"></td>
                                <td id="seasonSetGame0_p1_apm"></td>
                                <td id="seasonSetGame0_duration" rowspan="2" class="rowspan"></td>
                                <td style="position: relative" id="seasonSetGame0_p1_name"></td>
                            </tr>
                            <tr id="seasonSetGame0_2" class="hide">
                                <td id="seasonSetGame0_p2_crystle"></td>
                                <td id="seasonSetGame0_p2_oil"></td>
                                <td id="seasonSetGame0_p2_apm"></td>
                                <td style="position: relative" id="seasonSetGame0_p2_name"></td>
                            </tr>
                            
                            <tr id="seasonSetGame1_1" class="hide">
                                <td id="seasonSetGame1_name" rowspan="2" class="rowspan"></td>
                                <td id="seasonSetGame1_map" rowspan="2" class="rowspan"></td>
                                <td id="seasonSetGame1_p1_crystle"></td>
                                <td id="seasonSetGame1_p1_oil"></td>
                                <td id="seasonSetGame1_p1_apm"></td>
                                <td id="seasonSetGame1_duration" rowspan="2" class="rowspan"></td>
                                <td style="position: relative" id="seasonSetGame1_p1_name"></td>
                            </tr>
                            <tr id="seasonSetGame1_2" class="hide">
                                <td id="seasonSetGame1_p2_crystle"></td>
                                <td id="seasonSetGame1_p2_oil"></td>
                                <td id="seasonSetGame1_p2_apm"></td>
                                <td style="position: relative" id="seasonSetGame1_p2_name"></td>
                            </tr>

                            <tr id="seasonSetGame2_1" class="hide">
                                <td id="seasonSetGame2_name" rowspan="2" class="rowspan"></td>
                                <td id="seasonSetGame2_map" rowspan="2" class="rowspan"></td>
                                <td id="seasonSetGame2_p1_crystle"></td>
                                <td id="seasonSetGame2_p1_oil"></td>
                                <td id="seasonSetGame2_p1_apm"></td>
                                <td id="seasonSetGame2_duration" rowspan="2" class="rowspan"></td>
                                <td style="position: relative" id="seasonSetGame2_p1_name"></td>
                            </tr>
                            <tr id="seasonSetGame2_2" class="hide">
                                <td id="seasonSetGame2_p2_crystle"></td>
                                <td id="seasonSetGame2_p2_oil"></td>
                                <td id="seasonSetGame2_p2_apm"></td>
                                <td style="position: relative" id="seasonSetGame2_p2_name"></td>
                            </tr>
							
							<tr id="seasonSetGame3_1" class="hide">
                                <td id="seasonSetGame3_name" rowspan="2" class="rowspan"></td>
                                <td id="seasonSetGame3_map" rowspan="2" class="rowspan"></td>
                                <td id="seasonSetGame3_p1_crystle"></td>
                                <td id="seasonSetGame3_p1_oil"></td>
                                <td id="seasonSetGame3_p1_apm"></td>
                                <td id="seasonSetGame3_duration" rowspan="2" class="rowspan"></td>
                                <td style="position: relative" id="seasonSetGame3_p1_name"></td>
                            </tr>
                            <tr id="seasonSetGame3_2" class="hide">
                                <td id="seasonSetGame3_p2_crystle"></td>
                                <td id="seasonSetGame3_p2_oil"></td>
                                <td id="seasonSetGame3_p2_apm"></td>
                                <td style="position: relative" id="seasonSetGame3_p2_name"></td>
                            </tr>
                            
                            <tr id="seasonSetGame4_1" class="hide">
                                <td id="seasonSetGame4_name" rowspan="2" class="rowspan"></td>
                                <td id="seasonSetGame4_map" rowspan="2" class="rowspan"></td>
                                <td id="seasonSetGame4_p1_crystle"></td>
                                <td id="seasonSetGame4_p1_oil"></td>
                                <td id="seasonSetGame4_p1_apm"></td>
                                <td id="seasonSetGame4_duration" rowspan="2" class="rowspan"></td>
                                <td style="position: relative" id="seasonSetGame4_p1_name"></td>
                            </tr>
                            <tr id="seasonSetGame4_2" class="hide">
                                <td id="seasonSetGame4_p2_crystle"></td>
                                <td id="seasonSetGame4_p2_oil"></td>
                                <td id="seasonSetGame4_p2_apm"></td>
                                <td style="position: relative" id="seasonSetGame4_p2_name"></td>
                            </tr>
                            
                            <tr id="seasonSetGame5_1" class="hide">
                                <td id="seasonSetGame5_name" rowspan="2" class="rowspan"></td>
                                <td id="seasonSetGame5_map" rowspan="2" class="rowspan"></td>
                                <td id="seasonSetGame5_p1_crystle"></td>
                                <td id="seasonSetGame5_p1_oil"></td>
                                <td id="seasonSetGame5_p1_apm"></td>
                                <td id="seasonSetGame5_duration" rowspan="2" class="rowspan"></td>
                                <td style="position: relative" id="seasonSetGame5_p1_name"></td>
                            </tr>
                            <tr id="seasonSetGame5_2" class="hide">
                                <td id="seasonSetGame5_p2_crystle"></td>
                                <td id="seasonSetGame5_p2_oil"></td>
                                <td id="seasonSetGame5_p2_apm"></td>
                                <td style="position: relative" id="seasonSetGame5_p2_name"></td>
                            </tr>
                            
                            <tr id="seasonSetGame6_1" class="hide">
                                <td id="seasonSetGame6_name" rowspan="2" class="rowspan"></td>
                                <td id="seasonSetGame6_map" rowspan="2" class="rowspan"></td>
                                <td id="seasonSetGame6_p1_crystle"></td>
                                <td id="seasonSetGame6_p1_oil"></td>
                                <td id="seasonSetGame6_p1_apm"></td>
                                <td id="seasonSetGame6_duration" rowspan="2" class="rowspan"></td>
                                <td style="position: relative" id="seasonSetGame6_p1_name"></td>
                            </tr>
                            <tr id="seasonSetGame6_2" class="hide">
                                <td id="seasonSetGame6_p2_crystle"></td>
                                <td id="seasonSetGame6_p2_oil"></td>
                                <td id="seasonSetGame6_p2_apm"></td>
                                <td style="position: relative" id="seasonSetGame6_p2_name"></td>
                            </tr>
                            
                            <tr id="seasonSetGame7_1" class="hide">
                                <td id="seasonSetGame7_name" rowspan="2" class="rowspan"></td>
                                <td id="seasonSetGame7_map" rowspan="2" class="rowspan"></td>
                                <td id="seasonSetGame7_p1_crystle"></td>
                                <td id="seasonSetGame7_p1_oil"></td>
                                <td id="seasonSetGame7_p1_apm"></td>
                                <td id="seasonSetGame7_duration" rowspan="2" class="rowspan"></td>
                                <td style="position: relative" id="seasonSetGame7_p1_name"></td>
                            </tr>
                            <tr id="seasonSetGame7_2" class="hide">
                                <td id="seasonSetGame7_p2_crystle"></td>
                                <td id="seasonSetGame7_p2_oil"></td>
                                <td id="seasonSetGame7_p2_apm"></td>
                                <td style="position: relative" id="seasonSetGame7_p2_name"></td>
                            </tr>
                            
                            <tr id="seasonSetGame8_1" class="hide">
                                <td id="seasonSetGame8_name" rowspan="2" class="rowspan"></td>
                                <td id="seasonSetGame8_map" rowspan="2" class="rowspan"></td>
                                <td id="seasonSetGame8_p1_crystle"></td>
                                <td id="seasonSetGame8_p1_oil"></td>
                                <td id="seasonSetGame8_p1_apm"></td>
                                <td id="seasonSetGame8_duration" rowspan="2" class="rowspan"></td>
                                <td style="position: relative" id="seasonSetGame8_p1_name"></td>
                            </tr>
                            <tr id="seasonSetGame8_2" class="hide">
                                <td id="seasonSetGame8_p2_crystle"></td>
                                <td id="seasonSetGame8_p2_oil"></td>
                                <td id="seasonSetGame8_p2_apm"></td>
                                <td style="position: relative" id="seasonSetGame8_p2_name"></td>
                            </tr>

                            <tr class="hide">
                                <td rowspan="2" class="rowspan">第四局</td>
                                <td rowspan="2" class="rowspan">小仙女</td>
                                <td>556</td>
                                <td>2233</td>
                                <td>123</td>
                                <td rowspan="2" class="rowspan">32:20</td>
                                <td style="position: relative" ><span class="tag defeat-tag">失败</span><a href="../player-details/index.html">fengzi</a></td>
                            </tr>
                            <tr class="hide">
                                <td>468</td>
                                <td>2211</td>
                                <td>123</td>
                                <td style="position: relative"><span class="tag win-tag">胜利</span><a href="../player-details/index.html">Tossgirl</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="text-center">
            <span class="back-home"><a href="../../index.html">返回首页</a></span>
        </div>
    </div>
    <div id="cover-mask" class="hide">
    </div>
</div>
<div id="mask_modal"></div>
<script src="../../dep/jquery/jquery-3.4.1.min.js"></script>
<script src="../../dep/calendar/js/calendar.js"></script>
<script src="../../dep/pacejs/pace.js"></script>
<script src="../../dep/lobibox/js/notifications.js"></script>
<script src="../../public/js/public.js"></script>
<script src="../../js/season.js"></script>

</body>
</html>