<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../dep/calendar/calendar.css">
    <link rel="stylesheet" href="../../dep/pacejs/pace.css">
	<link rel="stylesheet" href="../../dep/lobibox/css/lobibox.css">
    <link rel="stylesheet" href="../../public/css/public.css">
    <link rel="stylesheet" href="../../css/season.css">
</head>
<body>
<div id="page">
    <div id="header">
        <div class="season-title">
            <div class="date">2020-06-02</div>
            <div class="title">季后赛16进8-A组\季后赛16进8-B组</div>
            <div class="players">fengzi, Midas, Loup, Tossgirl\fengzi, Midas, Loup, Tossgirl</div>            
        </div>
    </div>
    <div id="content">
    	<div class="hide">
	        <div id="demo">
	            <div class="calender-content hide">
	                <div id="ca"></div>
	            </div>
	            <input type="text" id="dt" value="2020-6-29" readonly>
	            <img src="../../img/select-down.png" alt="" class="down">
	            <div id="dd"></div>
	        </div>
	        <div class="select-date">
	
	        </div>
        </div>
        <div class="details clearfix">
            <div class="left pull-left items">
                <div class="item">
                    <div class="flex-row-sb">
                        <span class="title">季后赛16进8-A组第一轮</span>
                        <span class="view-detail"><a href="javascript:;">详情</a></span>
                    </div>
                    <div class="flex-row-nc">
                        <div class="flex-row-nc">
                            <div class="team-logo flex-row-c">
                                <img class="win" src="../../img/player_race_p.png" alt="">
                                <img class="win-bg" src="../../img/win.png" alt="">
                            </div>
                            <div class="flex-column">
                                <div><a href="../player-details/index.html">Fengzi</a></div>
                                <div class="country-flag">
                                    <img src="../../img/flag.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="flex-row-c vs">vs</div>
                        <div class="flex-row-nc">
                            <div class="team-logo flex-row-c">
                                <img class="lose" src="../../img/player_race_p.png" alt="">
                                <img class="lose-bg" src="../../img/defeat.png" alt="">
                            </div>
                            <div class="flex-column">
                                <div><a href="../player-details/index.html">Fengzi</a></div>
                                <div class="country-flag">
                                    <img src="../../img/flag.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="flex-row-sb">
                        <span class="title">季后赛16进8-A组第一轮</span>
                        <span class="view-detail"><a href="javascript:;">详情</a></span>
                    </div>
                    <div class="flex-row-nc">
                        <div class="flex-row-nc">
                            <div class="team-logo flex-row-c">
                                <img class="win" src="../../img/player_race_p.png" alt="">
                                <img class="win-bg" src="../../img/win.png" alt="">
                            </div>
                            <div class="flex-column">
                                <div><a href="../player-details/index.html">Fengzi</a></div>
                                <div class="country-flag">
                                    <img src="../../img/flag.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="flex-row-c vs">vs</div>
                        <div class="flex-row-nc">
                            <div class="team-logo flex-row-c">
                                <img class="lose" src="../../img/player_race_p.png" alt="">
                                <img class="lose-bg" src="../../img/defeat.png" alt="">
                            </div>
                            <div class="flex-column">
                                <div><a href="../player-details/index.html">Fengzi</a></div>
                                <div class="country-flag">
                                    <img src="../../img/flag.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="flex-row-sb">
                        <span class="title">季后赛16进8-A组第一轮</span>
                        <span class="view-detail"><a href="javascript:;">详情</a></span>
                    </div>
                    <div class="flex-row-nc">
                        <div class="flex-row-nc">
                            <div class="team-logo flex-row-c">
                                <img class="win" src="../../img/player_race_p.png" alt="">
                                <img class="win-bg" src="../../img/win.png" alt="">
                            </div>
                            <div class="flex-column">
                                <div><a href="../player-details/index.html">Fengzi</a></div>
                                <div class="country-flag">
                                    <img src="../../img/flag.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="flex-row-c vs">vs</div>
                        <div class="flex-row-nc">
                            <div class="team-logo flex-row-c">
                                <img class="lose" src="../../img/player_race_p.png" alt="">
                                <img class="lose-bg" src="../../img/defeat.png" alt="">
                            </div>
                            <div class="flex-column">
                                <div><a href="../player-details/index.html">Fengzi</a></div>
                                <div class="country-flag">
                                    <img src="../../img/flag.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="right pull-left">
                <div style="position: relative">
                    <span class="triangle"></span>
                    <table class="pk-list">
                        <thead>
                            <tr>
                                <th>场次</th>
                                <th>地图</th>
                                <th>水晶</th>
                                <th>气矿</th>
                                <th>APM</th>
                                <th>时长</th>
                                <th>胜负</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td rowspan="2" class="rowspan">第一局</td>
                                <td rowspan="2" class="rowspan">小仙女</td>
                                <td>556</td>
                                <td>2233</td>
                                <td>123</td>
                                <td rowspan="2" class="rowspan">32:20</td>
                                <td style="position: relative" ><span class="tag win-tag">胜利</span><a href="../player-details/index.html">fengzi</a></td>
                            </tr>
                            <tr>
                                <td>468</td>
                                <td>2211</td>
                                <td>123</td>
                                <td style="position: relative"><span class="tag defeat-tag">失败</span><a href="../player-details/index.html">Tossgirl</a></td>
                            </tr>

                            <tr>
                                <td rowspan="2" class="rowspan">第二局</td>
                                <td rowspan="2" class="rowspan">小仙女</td>
                                <td>556</td>
                                <td>2233</td>
                                <td>123</td>
                                <td rowspan="2" class="rowspan">32:20</td>
                                <td style="position: relative" ><span class="tag win-tag">胜利</span><a href="../player-details/index.html">fengzi</a></td>
                            </tr>
                            <tr>
                                <td>468</td>
                                <td>2211</td>
                                <td>123</td>
                                <td style="position: relative"><span class="tag defeat-tag">失败</span><a href="../player-details/index.html">Tossgirl</a></td>
                            </tr>

                            <tr>
                                <td rowspan="2" class="rowspan">第三局</td>
                                <td rowspan="2" class="rowspan">小仙女</td>
                                <td>556</td>
                                <td>2233</td>
                                <td>123</td>
                                <td rowspan="2" class="rowspan">32:20</td>
                                <td style="position: relative" ><span class="tag win-tag">胜利</span><a href="../player-details/index.html">fengzi</a></td>
                            </tr>
                            <tr>
                                <td>468</td>
                                <td>2211</td>
                                <td>123</td>
                                <td style="position: relative"><span class="tag defeat-tag">失败</span><a href="../player-details/index.html">Tossgirl</a></td>
                            </tr>

                            <tr>
                                <td rowspan="2" class="rowspan">第四局</td>
                                <td rowspan="2" class="rowspan">小仙女</td>
                                <td>556</td>
                                <td>2233</td>
                                <td>123</td>
                                <td rowspan="2" class="rowspan">32:20</td>
                                <td style="position: relative" ><span class="tag defeat-tag">失败</span><a href="../player-details/index.html">fengzi</a></td>
                            </tr>
                            <tr>
                                <td>468</td>
                                <td>2211</td>
                                <td>123</td>
                                <td style="position: relative"><span class="tag win-tag">胜利</span><a href="../player-details/index.html">Tossgirl</a></td>
                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="text-center">
            <span class="back-home"><a href="../../index.html">返回首页</a></span>
        </div>
    </div>
    <div id="cover-mask" class="hide">
    </div>
</div>
<div id="mask_modal"></div>
<script src="../../dep/jquery/jquery-3.4.1.min.js"></script>
<script src="../../dep/calendar/js/calendar.js"></script>
<script src="../../dep/pacejs/pace.js"></script>
<script src="../../dep/lobibox/js/notifications.js"></script>
<script src="../../public/js/public.js"></script>
<script src="../../js/season.js"></script>

</body>
</html>