 #page {
     padding: 40px 0;
     overflow: scroll;
     scrollbar-width: none;
     background: url("../img/player-details-bg.png") no-repeat fixed center;
     background-size: cover;
     filter: drop-shadow(0px 0px 5px #fff) drop-shadow(0px 0px 5px #fff) drop-shadow(0px 0px 5px #fff) drop-shadow(0px 0px 5px #fff);
 }

 .main-bg {
     background: #EEEEEE;
 }

 #page .back-home a{
    display: inline-block;
    background: url("../img/bak-home-bg.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
    font-size: 18px;
    color: #ffffff;
    padding: 12px 20px;
    cursor: pointer;
    width: 140px;
}

#page .player-content {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 40px;
}

#page .player-content .left-player,
#page .player-content .right-player {
    width: 46%;
    padding: 20px 26px;
    box-sizing: border-box;
}

#page .player-content .left-player {
 background: rgb(158, 157, 193,.6);
}

#page .player-content .right-player {
 background: rgb(82, 120, 172,.6);

}

#page .player-name {
    padding-bottom: 18px;
    color: #333333;
    font-size: 20px;
    font-weight: bold;
}

 #page .select-player {
     margin-bottom: 12px;
     position: relative;
 }

#page .select-player .current-player {
    background: #fff;
    padding: 9px 0;
    font-size: 14px;
}

#page .select-player .select-player-list {
    margin-left: 22%;
    width: 56%;
    position: absolute;
    background:#fff;
    border-radius: 5px;
    box-shadow:0 3px 9px 0 rgba(179,188,223,1);
    display: none;
}

 #page .select-player .select-player-list input {
     width: 100%;
     text-align: center;
     outline: none;
     border: none;
     border-radius: 5px;
     color: #999999;
 }

 #page .select-player .select-player-list input::placeholder {
     color: #999999;
 }

 #page .select-player .select-player-list ul {
    max-height: 255px;
    overflow: scroll;
     scrollbar-width: none;
 }

 #page .select-player .select-player-list ul li {
     text-align: center;
 }

 #page .select-player .select-player-list ul li a {
    display: inline-block;
     width: 100%;
     padding: 4px 0;
     font-weight: bold;
     color: #333333;
     font-size: 13px;
 }

 #page .select-player .select-player-list ul li a:hover{
     background: #E9E8FA ;
 }

 #page .select-player .current-player:hover {
     cursor: pointer;
     background: #f2edf7;
 }

#page .player-img {
    width: 52%;
    padding: 5px;
    border-radius: 10px;
    margin-right: 5%;
}
#page .player-info-img {
    width: 41%;
    height: 290px;
}
 #page .player-img img {
    width: 100%;
     height: 280px;
     border-radius: 10px;
 }

 #page .player-info-img .flag {
     height: 35%;
 }

 #page .player-info-img .team-logo {
     height: 65%;
 }

 #page .player-info-img .team-logo img {
     width: 70%;
 }

 #page .player-info-img .flag img{
     width: 100%;
     height: 100%;
 }

 #page .player-img-center {
     margin-bottom: 15px;
 }

 #page .info-items .info-item {
     padding: 8px 22px;
     margin-bottom: 4px;
 }

 #page .info-items .info-item .left {
     width: 40%;
 }
 #page .info-items .info-item .right {
     width: 60%;
 }

 #page .info-items .info-item .key {
     color: #333333;
     font-size: 14px;
     font-weight: bold;
     margin-right: 15px;
 }

 #page .info-items .info-item .value {
     color: #333333;
     font-size: 14px;
     font-weight: bold;
 }

 #page .info-item .title {
     margin-bottom: 20px;
     color: #333333;
     font-weight: bold;
 }

 #page .game-list {
     color: #333333;
     font-weight: bold;
     font-size: 14px;
     min-height: 300px;
 }

 #page .game-list ul li {
     margin-bottom: 6px;
 }

 #page .game-list ul li:hover a {
     color: #49469c;
 }

 .vs {
     width: 8%;
     height: 500px
 }

 .vs span {
     background: linear-gradient(to right, #aba8ff, #316dbf);
     -webkit-background-clip: text;
     font-weight: bold;
     font-size: 58px;
     color: transparent;
 }

 img[src=""],img:not([src]) {
     opacity: 0;
 }

 #page .info-items .info-item.player-pk-info .left,
 #page .info-items .info-item.player-pk-info .right {
     width: 100%;
 }

 #page .info-items .info-item.player-pk-info .key {
     width: 39%;
     display: inline-block;
     margin-right: 0;
 }

 #page .info-items .info-item.player-pk-info .value {
     width: 59%;
     display: inline-block;
     margin-right: 0;
 }
